<h2>cadastrar livro</h2>

<form action="/register/save" method="POST">
    <div>
        <label for="title">titulo</label>
        <input type="text" name="title" placeholder="digite o titulo" id="title">
    </div>
    <div>
        <label for="pageqty">numero de paginas</label>
        <input type="number" name="pageqty" placeholder="quantas páginas o livro possui" id="pageqty">

    
    </div>
    <button type "submit">cadastrar</button>


</form>